<nb-chat [title]="title" [status]="status" size="medium">
  <nb-chat-message *ngFor="let msg of messages"
                   [type]="msg.type"
                   [message]="msg.text"
                   [reply]="msg.reply"
                   [sender]="msg.user.name"
                   [date]="msg.date"
                   [files]="[ { url: msg.image, type: 'image/jpeg' } ]"
                   [avatar]="msg.user.avatar">
  </nb-chat-message>
  <nb-chat-form *ngIf="!end" (send)="sendMessage(messages, $event)"></nb-chat-form>
</nb-chat>
